.table-head-first{
  width: 100px;
}

.table-head-second{
  width: 200px;
}

.text-align-center{
  text-align: center;
}

.text-align-left{
  text-align: left;
}

.profile-picture-height{
  height: 100px;
}